* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 500px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

aside {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #007bff;
}

aside h1 {
    padding: 30px;
    font-size: 3rem;
    color: white;
}

aside h1 span {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.login-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
    height: 18px; /* Supaya layout tetap stabil */
    display: flex;
    align-items: center;
}


button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 2rem;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 36px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2{
    margin-bottom: 5px;
}
.modal-content p{
    margin-bottom: 15px;
}

#closeModal {
    margin-top: 10px;
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeModal:hover {
    background: #0056b3;
}
